.Questions {
    display: grid;
    grid-template-columns: 750px;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    row-gap: 25px;
}

.Footer {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    column-gap: 25px;
}

@media screen and (max-width: 800px) {
    .Footer {
        font-size: 2.75em;
        row-gap: 25px;
        grid-template-areas:
        "A A A A   A A A A   A A A A"
        "B B B B   B B B B   C C C C";
    }

    .HeaderText {
        font-size: 2.25em;
        display: block;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .SubmitFormButton {
        grid-area: A;
    }

    .FinishQuizButton {
        grid-area: B;
    }

    .Timer {
        grid-area: C;
    }
}