.Questions {
    display: grid;
    grid-template-columns: 750px;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    row-gap: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    column-gap: 25px;
}

@media screen and (max-width: 800px) {
    .footer {
        font-size: 1.25rem;
        row-gap: 25px;
        grid-template-areas:
        "A A A A   A A A A   A A A A"
        "B B B B   B B B B   C C C C";
    }

    .submitFormButton {
        grid-area: A;
    }

    .finishQuizButton {
        grid-area: B;
    }

    .timer {
        grid-area: C;
    }
}