.Quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Settings {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.75fr;
    justify-content: center;
    row-gap: 25px;
}

.StartButton {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .Settings {
        grid-template-columns: 750px;
    }

    .SettingsText {
        font-size: 1.5em;
    }
}